__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.venv/
venv/
.git/
.tests_cache/
htmlcov/
build/
/dist/
.eggs/
*.egg-info/
.mypy_cache/
.pytest_cache/
*.log
node_modules/
frontend/
.idea/
.vscode/
Dockerfile*
!tests/
.gitignore
