fastapi
uvicorn[standard]
openai>=2.7.1
psycopg2-binary
python-dotenv
gunicorn
pydantic
pydantic-settings
email-validator
urllib3
SQLAlchemy
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
openpyxl

# Testing dependencies
pytest
pytest-asyncio
pytest-cov
pytest-mock
httpx
