fastapi
uvicorn[standard]
openai
psycopg2-binary
python-dotenv
gunicorn
pydantic
pydantic-settings
urllib3
SQLAlchemy
alembic

# Testing dependencies
pytest
pytest-asyncio
pytest-cov
pytest-mock
httpx
